<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <title>To do list- VueJs</title>
</head>
<body>
  <div id="root">
    <h1>La tua lista della spesa</h1>

    <div class="background"></div>

    <div class="blocco_input">
      <input type="text" placeholder="Inserisci un elemento" v-model="nuovoElemento" @keyup.13="aggiungiElemento">
      <button type="button" @click="aggiungiElemento">Aggiungi</button>
    </div>

    <div class="container_lista">
      <ul v-if="lista.length > 0">
        <li v-for="(elemento, index) in lista"> {{ elemento }} <span class="close" @keyup.13="cancellaElemento(index)" @click="cancellaElemento(index)">&#10005;</span></li>
      </ul>
    </div>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
